/* reset */
h1, content, h2, p {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

/* layouts */


/* ul.top {
    background-color: blue;
} */

ul.row {
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    width: min-content;
    grid-row: span 4; 
    gap: 20px;
    max-height: 750px;
    /* background-color: dodgerblue; */
}


/* .col {
    background-color: orangered; 
}
 */

/* content */

body {
    background-image: url(images/bg.png);
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    max-width: 1000px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 170px;
    height: 100%;   
}

.box {
    text-align: left;
    width:300px;
    padding: 10px 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-bottom: 10px solid #4A260B;
    border-radius: 0 0 40px 40px;
    font-weight: bold;
    background-color: #93572E;
    color: #D4BDAF;    
}

.box h2 {
    padding-bottom: 10px;
    font-size: 200%;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box p {
    font-family: Arial light;
    font-weight: lighter;
    line-height: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 250px;
    white-space: pre-line;
    display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
}

@media screen and (max-width: 960px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 670px) {
    .wrapper {
        grid-template-columns: 1fr;
        max-width:540px;
        margin:20px auto;
    }
}